# ======================
# Node.js
# ======================
**/node_modules/
**/dist/
npm-debug.log*

# ======================
# Environment
# ======================
backend/.env
frontend/.env

# ======================
# Golang
# ======================
backend/bin/
backend/tmp/
*.exe
*.out

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
